@width: 100%;
@height: 100vh;
@green: white;
@none: none;
@width80: 80%;
@blue:rgb (38, 45, 68);
.flex {
	display: flex;
	align-items: center;
}

.stat {
	width: 35px;
	height: 35px;
	border-radius: 90px;
	background-image: url("schatz.png");
	background-size: cover;
	border: 2px solid palegreen;
	animation: puls 2s linear alternate infinite;
}

.vflex {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.padded {
	padding: 10px;
}

body {
	width: 100%;
	margin: 0 auto;
	overflow-x: hidden;
	background: linear-gradient(
		rgb(38, 45, 68),
		rgb(38, 45, 68),
		rgb(38, 45, 68),
		palegreen
	);
	background-size: cover;
	font-family: "Kanit";
	h2,
	h3,
	i {
		color: palegreen;
		font-size: 24px;
		font-family: "Architects Daughter";
	}
	p {
		color: @green;
		font-size: 18px;
	}
	.btn {
		padding: 5px 30px;
		background-color: rgb(49, 56, 77);
		color: rgb(255, 210, 64);
		text-shadow: 1px 1px 3px rgba(26, 25, 25, 0.432);
		font-family: "Kanit";
		font-weight: bold;
		font-size: 24px;
		box-shadow: inset 5px -5px 10px rgb(69, 77, 71),
			inset -5px 5px 10px rgb(34, 56, 41);
		border: 1px solid white;
		animation: puls 2s linear alternate infinite;
		margin: 10px 0px;
		border-radius: 7px;
		letter-spacing: 1.2px;
	}
	.inp {
		padding: 5px 30px;
		background-color: @green;
		color: black;
		font-family: "Kanit";
		font-weight: bold;
		font-size: 24px;
		box-shadow: inset 0px 5px 16px rgba(55, 58, 56, 0.644),
			inset 0px 5px 6px rgb(116, 134, 122);
		border: none;
	}
}

.menu {
	.flex();
	justify-content: space-between;
	padding: 5px 20px 5px 15px;
}

@keyframes puls {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

.bordered {
	border: 1px solid palegreen;
}

#stories {
	font-family: "Architects Daughter";
	font-size: 30px;
	text-transform: uppercase;
}

.reading {
	width: @width80;
	margin: 70px auto;
	.flex();
	.abctext {
		margin-left: 60px;
		margin-top: -40px !important;
	}
	h4 {
		font-family: "Architects Daughter";
		font-size: 52px;
		margin-bottom: 0;
		text-shadow: 2px 2px 4px rgb(250, 247, 247);
		color: rgb(41, 53, 87);
	}
	p {
		color: rgb(41, 53, 87);
		font-weight: bolder;
		font-size: 20px;
	}
	.abctext2 {
		margin-top: -45px;
		h4 {
			color: rgb(41, 53, 87);
			text-shadow: 2px 2px 4px rgb(130, 130, 130);
			font-size: 48px;
		}
		p {
			color: rgb(41, 53, 87);
		}
		button {
			color: palegreen;
		}
	}
}

.header {
	width: 96%;
	margin: 0 auto;
	height: 70px;
	border-radius: 45px;
	margin-bottom: 20px;
	.flex();
	.padded();
	color: black;
	.avatar {
		width: 55px;
		height: 55px;
		border-radius: 90px;
		margin: 0px 10px;
		box-shadow: inset 5px 5px 10px rgb(70, 92, 76);
		padding: 10px;
	}
	.pointswrap {
		position: absolute;
		right: 3%;
		border-radius: 90px;
		padding: 5px 25px;
		box-shadow: inset -5px 5px 10px rgb(49, 49, 49),
			inset 5px 5px 10px rgb(88, 88, 88);

		h2 {
			font-family: "Kanit";
			color: rgb(255, 196, 0);
		}
	}

	.points {
		position: absolute;
		right: 12%;
	}
	.pointswrap:hover {
		transform: scale(1.1);
	}
	box-shadow: inset 10px -10px 30px black, inset -10px 15px 30px rgb(67, 67, 67);
}

.bubble {
	position: absolute;
	top: 0;
	left: 15%;
}

.stories {
	overflow-x: scroll;
	overflow-y: none;
	.flex();
	margin-top: 50px;
	width: @width;
	padding-bottom: 20px;
}

.geschichten {
	background: none;
	height: 90vh;
	padding: 40px 0px;
	margin-bottom: 0px;
}

.gamesection {
	background: transparent;
	padding: 50px 0px;
	border-radius: 7px;
	margin-top: 70px;
}

::-webkit-scrollbar {
	height: 5px;
	width: 2px;
}

::-webkit-scrollbar-track {
	background: orange;
}

::-webkit-scrollbar-thumb {
	background: @green;
}

.person {
	align-items: center;
	display: flex;
	flex-direction: column;
	width: 310px;
	cursor: pointer;
}
.container {
	border-radius: 50%;
	height: 312px;
	-webkit-tap-highlight-color: transparent;
	transform: scale(0.48);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
	width: 400px;
}
.container:after {
	background-color: #f2f2f2;
	content: "";
	height: 10px;
	position: absolute;
	top: 390px;
	width: 100%;
}
.container:hover {
	transform: scale(0.54);
}
.container-inner {
	clip-path: path(
		"M 390,400 C 390,504.9341 304.9341,590 200,590 95.065898,590 10,504.9341 10,400 V 10 H 200 390 Z"
	);
	position: relative;
	transform-origin: 50%;
	top: -200px;
}
.circle {
	background-color: #1a1919;
	border-radius: 50%;
	cursor: pointer;
	height: 370px;
	left: 10px;
	pointer-events: none;
	position: absolute;
	top: 210px;
	width: 380px;
}
.img {
	pointer-events: none;
	position: relative;
	transform: translateY(20px) scale(1.15);
	transform-origin: 50% bottom;
	transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container:hover .img {
	transform: translateY(0) scale(1.2);
}
.img1 {
	left: 22px;
	top: 174px;
	width: 340px;
}
.img2 {
	left: -26px;
	top: 144px;
	width: 444px;
}
.img3 {
	left: 10px;
	top: 174px;
	width: 385px;
}

.img4 {
	left: 10px;
	top: 144px;
	width: 425px;
}

.name {
	color: @green;
	font-size: 26px;
	font-weight: 600;
	margin-top: 1px;
	text-align: center;
	margin-bottom: -15px;
}

.names {
	.name();
	margin-bottom: 0px;
}

.title {
	color: white;
	font-family: arial;
	font-size: 16px;
	font-style: italic;
	margin-top: 4px;
	margin-bottom: 20px;
}

.intro {
	.flex();
	justify-content: center;
	position: relative;
	background: linear-gradient(rgb(38, 45, 68), #416380d7),
		url("math-removebg-preview.png");
	background-repeat: no-repeat;
	background-size: cover;
	height: 77vh;
	div > p {
		font-size: 20px;
		font-weight: bolder;
	}
}

.container-chev {
	position: relative;
	width: 240px;
	height: 24px;
	margin-left: 25%;
}

.chevron {
	position: absolute;
	width: 28px;
	height: 8px;
	opacity: 0;
	transform: scale3d(0.5, 0.5, 0.5);
	animation: move 3s ease-out infinite;
}

.chevron:first-child {
	animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
	animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
	content: " ";
	position: absolute;
	top: 0;
	height: 100%;
	width: 51%;
	background: @green;
}

.chevron:before {
	left: 0;
	transform: skew(0deg, 30deg);
}

.chevron:after {
	right: 0;
	width: 50%;
	transform: skew(0deg, -30deg);
}

.hallo {
	font-size: 32px;

	font-weight: bold;
	text-shadow: 2px 2px 4px rgb(15, 15, 15);
}

.cavetitle {
	font-family: Architects Daughter;
	font-size: 52px;
	color: palegreen;
	margin: 0;
	text-shadow: 2px 2px 4px black;
	margin-top: 100px !important;
}

@keyframes move {
	25% {
		opacity: 1;
	}
	33% {
		opacity: 1;
		transform: translateY(30px);
	}
	67% {
		opacity: 1;
		transform: translateY(40px);
	}
	100% {
		opacity: 0;
		transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
	}
}

.text {
	display: block;
	margin-top: 75px;
	margin-left: -30px;
	font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
	font-size: 12px;
	color: #fff;
	text-transform: uppercase;
	white-space: nowrap;
	opacity: 0.25;
	animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
	to {
		opacity: 1;
	}
}

.chat {
	.flex();
	width: @width80;
	margin: 10px auto;
	height: 100vh;
}

.modal,
#vidmodal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

#vidmodal {
	.modal-content {
		background: rgb(37, 45, 71);
		h2 {
			color: rgb(253, 230, 54);
			margin-bottom: 0px;
		}
		p {
			color: white;
		}
		i {
			color: rgb(253, 230, 54);
		}
	}
}

/* Modal Content/Box */
.modal-content {
	background-color: #242323;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid palegreen;
	width: 80%;
	border-radius: 10px;
	h2 {
		font-family: "Kanit";
	}
}

/* The Close Button */
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

input {
	text-align: center;
	margin: 5px 10px;
}

.game {
	background: transparent;
	display: flex;
	height: 97vh;
	width: 90%;
	margin: 0 auto;
	position: relative;
	margin-bottom: 0px !important;
	box-shadow: inset 5px -5px 10px rgba(223, 222, 222, 0.371),
		inset -5px 5px 10px rgba(223, 222, 222, 0.371);
	border-radius: 10px;

	.gametitle {
		position: absolute;
		top: 0;
		left: 10%;
		z-index: 3;
		font-family: "Architects Daughter";
		font-size: 40px;
		text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.629);
		color: palegreen;
	}

	.gameview {
		width: 20%;
		border-radius: 0px 10px 10px 0px;
		position: right;
		background: rgb(38, 45, 68);
		box-shadow: inset 5px 5px 20px rgba(80, 79, 79, 0.384);
		.vflex();
		.padded();
		text-align: center;
		h2 {
			font-size: 20px;
			font-family: "Kanit";
		}
	}
	.stat1 {
		.stat();
		position: absolute;
		top: 30%;
		left: 4%;
	}
	.stat2 {
		.stat();
		position: absolute;
		top: 44%;
		left: 12%;
	}
	.stat3 {
		.stat();
		position: absolute;
		top: 65%;
		left: 16%;
	}
	.stat4 {
		.stat();
		position: absolute;
		top: 50%;
		left: 35%;
	}
	.stat5 {
		.stat();
		position: absolute;
		top: 58%;
		left: 45%;
	}
	.stat6 {
		.stat();
		position: absolute;
		top: 50%;
		left: 55%;
	}

	.stat7 {
		.stat();
		position: absolute;
		top: 35%;
		left: 55%;
	}
	.stat8 {
		.stat();
		position: absolute;
		top: 18%;
		left: 70%;
	}
	.stat9 {
		.stat();
		position: absolute;
		top: 50%;
		left: 55%;
	}
}

.clouds {
	background: url("clouds-removebg-preview\ \(2\).png");
	height: 250px;
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: -300px;
}

.footer {
	height: 60px;

	width: 100%;
	background-color: rgb(38, 45, 68);
	.flex();
	justify-content: center;
	p {
		font-size: 13px;
	}
}

/*Drachenhöhle*/

.scorelist {
	background-color: rgb(38, 45, 68);
	height: 70px;
	border: 2px solid white;
	.flex();

	padding: 0px 10px;
	overflow-x: scroll;
	overflow-y: hidden;
	margin: 0px auto;
	margin-bottom: 50px;
	div {
		margin: 0px 10px;
		.flex();
		min-width: 270px !important;
	}
	img {
		height: 35px;
		width: 35px;
		border-radius: 90px;
		margin-right: 10px;
	}
	h3 {
		border-radius: 90px;
		padding: 5px 10px;
		box-shadow: inset -5px 5px 10px rgb(49, 49, 49),
			inset 5px 5px 10px rgb(88, 88, 88);
		color: orange;
		margin-left: 7px;
	}
}

.friends {
	height: 800px;
	width: 40%;
	margin: 70px auto;
	justify-content: flex-start;
	align-items: flex-start;
	.friend {
		.flex();
		position: relative;
		background: rgb(42, 53, 88);
		justify-content: flex-start;
		border: 2px solid white;
		border-radius: 45px;
		margin-bottom: 10px;
		.fa-battle-net {
			position: absolute;
			right: 2%;
			box-shadow: inset -5px 5px 10px rgb(49, 49, 49),
				inset 5px 5px 10px rgb(88, 88, 88);
			border-radius: 90px;
			padding: 20px;
			color: orange;
		}
		.fa-comments {
			position: absolute;
			right: 16%;
			box-shadow: inset -5px 5px 10px rgb(49, 49, 49),
				inset 5px 5px 10px rgb(88, 88, 88);
			border-radius: 90px;
			padding: 20px;
			color: palegreen;
		}
		div {
			padding-top: 10px;
		}
	}
}

.scoreavatar {
	width: 55px;
	height: 55px;
	border-radius: 90px;
	margin: 0px 10px;
	box-shadow: inset 5px 5px 10px rgb(70, 92, 76);
	padding: 10px;
}

.offline {
	background: rgba(90, 128, 111, 0.377) !important;
	.fa-battle-net {
		color: rgb(170, 235, 144) !important;
	}
}

.cloud1 {
	position: absolute;
	top: 140%;
	right: 0;
}
.cloud2 {
	position: absolute;
	top: 200%;
	left: 2%;
}
.cloud3 {
	position: absolute;
	top: 250%;
	right: 0%;
	z-index: 1;
}

.readsection {
	background: radial-gradient(orange, orangered);
	margin-top: 206px;
	height: 70vh;
	width: 70%;
	border-radius: 90px;
	box-shadow: inset -10px -10px 10px rgba(49, 64, 104, 0.39),
		inset 5px 5px 15px rgba(255, 255, 255, 0.692);
	border: 1px solid rgb(208, 208, 218);
	z-index: 4;
	padding: 10px;
}

.mobilebody {
	display: none;
}

@media only screen and (max-width: 1024px) {
	.menu,
	.header,
	.bubble,
	.intro,
	.geschichten,
	.chat,
	.gamesection,
	.reading,
	.clouds,
	.footer {
		display: none;
	}

	body {
		height: 100vh;
		overflow: hidden;
		background: rgb(22, 31, 61);
	}

	.mobilebody {
		display: block;
		padding: 20px;
	}
}
